*{
	font-family: "ProximaNovaSoft-Regular", Verdana, Sans-serif;
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
}

a{
	color: black;
	text-decoration: none;
}

#modal{
	display: none;
	padding: 30px;
	background-color: white;
	border-radius: 3px;
	width: 50%;
	/*max-height: calc(100% - 100px);*/
	position: absolute;
		top: 100px;
		bottom: auto;
		left: 50%;
		right: auto;
	transform: translate(-50%, 0);
	z-index: 1010;
}

#modal h2{
	margin-top: 0;
}


#admin-section .buttons,
#modal .buttons{
	margin: 15px -30px -30px -30px;
	padding: 30px;
	text-align: right;
}

#admin-section .buttons a{
	margin-left: 10px;
}

#overlay {
	display: none;
	position: fixed;
	    top: 0;
	    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    opacity: 0.7;
    filter: alpha(opacity=0.7);
}

.blur{
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

main #menu{
	padding:0;
	margin:0;
}

main #menu li{
	padding: 10px 15px;
	text-align: left;
	list-style: none;
	border-top: 1px solid #eee;
}

main #menu li:first-child{
	border-top: none;
}

main #menu li.active{
	font-weight: bold;
	color:orange;
}

main #menu li:hover{
	background-color: orange;
	color: white;
}

main #menu a{
	text-decoration: none;
	color: inherit;
}

main #menu i{
	float: right;
}

/* progress bar */
progress {
    border: none;
    margin-top: 10px;
    width: 100%;
}

progress:not([value]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* select file button */
input[type=file]::-webkit-file-upload-button {
	box-sizing: border-box;
	padding: 10px 20px;
    border-radius: 0px;
    border-style: solid;
    background-color: green;
    border-color: green;
    color: white;
	display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button:hover{
	background-color: white;
	color: green;
	border-color: white;
}

main{
	overflow-x: hidden;
	margin-top: 25px;
	background-color: #fff;
}

main .add{
	text-align: right;
}

main .add .fa-stack{
	cursor: pointer;
}

main .add .fa-plus,
main .add .fa-circle{
	transition: all 0.5s ease 0s;
}

main .add .fa-circle{
	color: orange;
}

main .add .fa-stack:hover .fa-circle{
	color: white;
}

main .add .fa-stack:hover .fa-plus{
	color: orange;
}
body.backend{
	background-color: #fff;
}

.item-footer .fa,
nav .fa{
	position: relative;
}

nav .fa{
	margin-right: 10px;
}

.fa .bubble{
    border-radius: 50%;
    background-color: gray;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: -6px;
    right: -8px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: white;
}

nav .login button,
.button{
	text-transform: uppercase;
}

/* grid ******************************/

.container{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

main .container{
	min-height: 80vh;
}

.row::after{
	clear: both;
	display: table;
	content: "";
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}

.flex {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-bottom: 15px;
}

[class^='col-']{
	// height: 100%;
	box-sizing: border-box;
	float: left;
	padding: 0 15px;
}


.left{
	margin: 0px 15px 0 0;
	-webkit-flex: 1;
    flex: 1;
   	-webkit-order: 1;
    order: 1;
    background-color: #ccc;
}

.right{
	margin: 0;
	-webkit-flex: 3;
    flex: 3;
   	-webkit-order: 1;
    order: 1;
}

.col-1{
	width: 8.33333%;
}
.offset-1{
	margin-left: 8.33333%;
}

.col-2{
	width: 16.66666%;
}
.offset-2{
	margin-left: 16.66666%;
}

.col-3{
	width: 25%;
}
.offset-3{
	margin-left: 25%;
}

.col-4{
	width: 33.33333%;
}
.offset-4{
	margin-left: 33.33333%;
}

.col-5{
	width: 41.66666%;
}
.offset-5{
	margin-left: 41.66666%;
}

.col-6{
	width: 50%;
}
.offset-6{
	margin-left: 50%;
}

.col-7{
	width: 58.33333%;
}
.offset-7{
	margin-left: 58.33333%;
}

.col-8{
	width: 66.66666%;
}
.offset-8{
	margin-left: 66.66666%;
}

.col-9{
	width: 75%;
}
.offset-9{
	margin-left: 75%;
}

.col-10{
	width: 75%;
}
.offset-10{
	margin-left: 75%;
}

.col-11{
	width: 83.33333%;
}
.offset-11{
	margin-left: 83.33333%;
}

.col-12{
	width: 100%;
}

/* forms *****************************/
#image-form-group{
	display:flex;
	flex-direction: row;
	align-items: stretch;
}

#image-form-group div:first-of-type{
	margin-top: 10px;
	background-color: #eee;
	text-align: center;
}
#image-form-group div.filled:first-of-type{
	padding: 0;
	background-color: transparent;
}

#image-form-group i{
	font-size: 3em;
	line-height: 100px;
}

#image-form-group img{
	width: 100%;
	//display: none;
}

#search {
	background-color: #eee;
    margin: 5px 10px;
    padding: 0 20px 0 10px;
    border-radius: 20px;
}

#search i{
	color: black;
}

#search input {
	padding:0;
	border: none;
	background-color: transparent;
	color: black;
}
#search .form-control{
	width: auto;
	border-top:none;
	border-left:none;
	border-right:none;
	box-shadow: none;
	border-radius:0;
}

#search .fa{
	margin-right: 5px;
}

label{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

label .required{
	color: orange;
}

.form-group{
	display:  block;
	margin-bottom: 20px;
	padding: 0 20px;
}

.form-group div.error {
	transition: all 0.3s ease 0s;
	color: red;
	display: none;
	margin-top: 5px;
}

.form-control{
	box-sizing: border-box;
	line-height: 15px;
	padding: 10px;
	border-radius: 3px;
	border:  1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

main textarea:focus.form-control,
main input:focus.form-control,
.login input:focus.form-control{
	background-color: white;
	border-color: orange;
	outline-color: orange;
}
#search input:focus.form-control{
	border-color: transparent;
	outline-color: transparent;
}

.form-control[type=text],
.form-control[type=number],
.form-control[type=password],
.form-control[type=email],
.form-control[type=file],
textarea.form-control,
select.form-control{
	width: 100%;
}
.form-control[type=file]{
	box-shadow: none;
	border: none;
}
input[type=file] {
	padding-left: 0;
	padding-right: 0;
}

.error{
	color: red;
}

.success{
	color: green;
}

span#result {
    margin-left: 20px;
    transition: all 1s ease;
    opacity: 0;
}

span#result.visible {
    margin-left: 30px;
    opacity: 1;
}

.button .fa-spinner{
	visibility: hidden;
}

/* items *****************************/

 .list main > .container{
 	margin: 40px auto;
 }

.item{
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 3px;
	position: relative;
	height: 100%;
	padding-bottom:110px;
	transition: all 0.3s ease 0s;
}

.item img{
	width: 100%;
/*	height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;*/
} 

#modal .flex {
	-webkit-flex-direction: column;
	flex-direction: column;
}

#modal .item{
	border:none;
}

#modal .item p{
	padding-left: 20px;
} 


#modal .label{
	padding-right: 0;
	text-align: right;
	font-weight: bold;
}

.item:hover{
	// cursor: pointer;
	// box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	background-color: #eee;
}

#modal .item:hover{
	background-color: transparent;
}

.item h3{
	margin-top: 5px;
}

.item .price{
    position: absolute;
    bottom: 55px;
    text-align: right;
    font-size: 2em;
    margin-bottom: 10px;
    right: 10px;
}

.item .item-footer{
	margin: 5px -10px -10px -10px;
	background-color: #ccc;
	display:flex;
	flex-direction:row;
	align-items: stretch;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.item .item-footer > div{
	font-size:1.5em;
	height: default;
	box-sizing: border-box;
	padding: 10px;
	flex-grow: 1;
	text-align: center;
}

.item-footer .fa-edit{
	margin: 0;
}

.item .thumb{
	width: 100%;
	height:180px;
	background-color: #eee;
}

.backend .item .item-footer > div{
	width: 32%;
}


.table-row .item.row{
	margin: 0;
	border-bottom: none;
	box-shadow: none;
}
.table-row .item.row > div{
	text-align: center;
}
.table-row .item.row > div:first-of-type{
	text-align: left;
}
.table-row .item.row > div:last-of-type{
	text-align: right;
}
.table-row .item.row.total > div:nth-child(1),
.table-row .item.row.total > div:nth-child(2){
	font-weight: bold;
	text-align: center;
}

.table-row .item.row  i{
	padding-left:15px;
	cursor: pointer;
}
.table-row .item.row  i:hover{
	color: orange;
}

.order,
.users {
	margin-bottom: 80px !important;
}


.order > .table-header .item.row,
.orders > .table-header .item.row,
.users > .table-header .item.row{
	background-color: #333;
	color: rgba(255, 255, 255, 0.7);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.order > div:last-of-type .item.row,
.orders > div:last-of-type .item.row,
.users > div:last-of-type .item.row{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #eee;
}

.order .fa-minus,
.order .fa-plus{
	padding: 0 15px;
}
/* navigation bar ********************/

.caret{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.caret.right{
    border-left: 4px dashed;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;

}

nav .container{
	height: 100%;
}

nav{
	width: 100%;
	position: fixed;
	top: 0px;
	height: 50px;
	background-color: #fff;
	box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 100;
}


ul.nav{
	margin:0;
	padding: 0;
	float: left;
}

ul.nav.login{
	float: right;
}

ul.nav li{
	// position: relative;
	color: #333;
	float: left;
	list-style: none;
	/*display: inline-block;*/
	margin: 0;
	padding: 5px 10px;
	line-height: 40px;
	transition: all 0.3s ease 0s;
	min-width: 50px;
	text-align: center;
}

ul.nav li.admin a{
	/*float: right;*/
	color: orange;
}

ul.nav li.admin{
	background-color: #eee;
}

ul.nav li.admin:hover{
	/*float: right;*/
	background-color: orange;
}
ul.nav li.admin:hover a{
	/*float: right;*/
	color: white;
}

ul.nav li:hover{
	background-color: #333;
}

ul.login li:hover{
	background-color: orange;
}

ul.nav li:hover>a{
	color: #fff;
}

ul.nav a{
	transition: color 0.3s ease 0s;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
}

ul.login a{
	color: orange;
}

.dropdown-toggle{
	position: relative;
	cursor: pointer;
}

.dropdown{
	transition: visibility 0.3s linear, top 0.3s linear, opacity 0.3s linear;
	position: absolute;
    top: 90%;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

nav .login .dropdown.login{
	padding-top:15px;
}

nav .login .dropdown button{
	width: 100%;
}

.dropdown.show{
	visibility: visible;
	opacity: 1;
	top: 105%;
}

ul.dropdown li{
	float: none;
	text-align: left;
	width: 100%;
}



// nav .nav #search:hover i{
// 	color: black;
// }

// nav .nav #search:hover{
// 	background-color: white;
// }


.backend nav{
	background-color: #eee;
}

.backend nav .dropdown{
	background-color: #eee;
}

/* buttons ***************************/

.button{
	box-sizing: border-box;
	padding: 10px 20px;
    border-radius: 0px;
    border-style: solid;
    background-color: orange;
    border-color: orange;
    color: white;
	display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.button:hover{
	background-color: white;
	color: orange;
	border-color: white;
}

.button.green:hover{
	background-color: white;
	color: green;
	border-color: white;
}

.button.pink:hover{
	background-color: white;
	color: pink;
	border-color: white;
}

.button.red:hover{
	background-color: white;
	color: red;
	border-color: white;
}

.button.gray:hover{
	background-color: white;
	color: #666;
	border-color: white;
}

.button.green{
	border-color: green;
	background-color: green;
}

.button.pink{
	border-color: pink;
	background-color: pink;
}

.button.red{
	border-color: red;
	background-color: red;
}

.button.gray{
	border-color: #999;
	background-color: #999;
}

a.button{
	text-decoration: none;
}

.dark{
	background-color: rgba(0, 0, 0, 0.5);
}

/* footer ****************************/

footer{
	font-size: 90%;
	color: rgba(255, 255, 255, 0.7);
	/*color: rgba(255, 165, 0, 0.7);*/
	padding-top: 15px;
	background-color: #333;
	widows: 100%;
	padding-bottom: 120px;
	box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.5) inset;
}

footer .col-4{
	text-align: left !important;
}
footer .fa-chevron-right{
	font-size: 60%;
	margin-right: 3px;
	vertical-align: middle;
}

footer #social .fa{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	color: #333;
	background-color: rgba(255, 255, 255, 0.7);
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
}

footer #social a:hover .fa{
	background-color: rgba(255, 255, 255, 1);
	color: rgba(255, 165, 0, 1);
}

footer .logo img{
	position: absolute;
	bottom: -120px;
	right: 0;
}

footer ul{
	margin: 0;
	margin-right: 15px;
	padding: 0;
}

footer li{
	list-style: none;
	margin-top: 0;
	padding: 0;
}

footer li:first-of-type{
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-bottom: 5px;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	/*color: rgba(255, 165, 0, 1);*/
}

footer a, footer a:hover, footer a:active, footer a:visited{
	text-decoration: none;
	color: inherit;
}

footer a:hover{
	color: rgba(255, 165, 0, 1);
}

/* registration page *********************************/

.form-page main > .container > .row{
	margin-top:  40px;
}

.form-page .col-4{
	text-align: right;
}

.form-page .col-4 h1{
	margin-bottom: 5px;
}

.form-page .col-4 p{
	color: orange;
	margin-top: 0;
}

.form-page .col-8 {
	margin-top:  20px;
}

.form-page #image-form-group .col-8 {
	margin-top:  0px;
}


/* list in admin *************************************/
.admin{
	padding: 20px 0 40px 0;
}
#modal .flex.table{
	flex-direction: row;
}
#modal .flex.table,
#admin-section .flex {
	margin-bottom: 0;
	padding: 10px 0;
}

#modal .flex.table:nth-child(2n+3),
#admin-section .flex:nth-child(2n+3){
	background-color: #e5e5e5;
}

#modal .flex.table:nth-child(2n),
#admin-section .flex:nth-child(2n){
	background-color: #f1f1f1;
}

#total,
#modal .flex.table:last-of-type,
#admin-section .flex:last-of-type{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#admin-section #total,
#total{
	background-color: orange !important;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

#modal .flex.table:first-of-type,
#admin-section .flex:first-of-type{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	background-color: orange;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

#modal .flex:first-child .col1,
#admin-section .flex:first-child .col2{
	border-right: 2px solid white;
}

#modal .flex > div:last-child,
#admin-section .flex > div:last-child{
	text-align: right;
}

#modal .flex > div,
#admin-section .flex > div{
	padding: 0 10px;
	flex-basis:0;
	flex-grow:1;
	text-align: center;
}

#modal .flex > div:nth-child(2),
#admin-section .flex > div:nth-child(2){
	flex-grow: 2;
}

#modal i,
#admin-section i{
	padding:0 3px;
}
#modal a:hover,
#admin-section a:hover{
	color: orange;
}
#modal .actions,
#admin-section .actions{
	text-align: right;	
}
/* media queries *************************************/


@media screen and (max-width: 960px)  {
	.container{
		width: 100%;
		margin: 0;
	}

	#modal .item img{
		height: auto;
	    width: auto;
	    max-width: 100%;
	    max-height: 100%;
	}

}